include ../partials/header.jade

body(data-page='replace')

    div#personalize-quote(class="g__layout__main-wrapper row")
        div(class="small-12 medium-3 columns g__layout__column")
            h1= quote.about
        div(class="small-12 medium-4 medium-push-1 columns g__layout__column")
            p#show-quote(data-quote="#{quote.text}",  v-model="newQuote") {{ newQuote }}
        div#personalize(class="small-12 medium-3 medium-push-1 columns g__layout__column")
            form#personalize-quote
                for val, index in personalize.replace
                    label(for='personalize-quote-#{val.value}') Ersätt #{val.value} med:
                    input(name='[personalize-quote][]',id='personalize-quote-#{val.value}',type='text', placeholder="#{val.value}",  v-on:keyup="replaceWord")

include ../partials/footer.jade

